/* Spacing */

.mt-1 {
  margin-top: 1rem;
}

.mb-8 {
  margin-bottom: var(--base-size-2);
}

.mt-80 {
  margin-top: 5rem;
}

.p-8 {
  padding: var(--base-size-2);
}

.py-4 {
  padding-block: 1rem;
}
.py-2 {
  padding-block: 0.5rem;
}

.px-4 {
  padding-inline: 1rem;
  /* padding-right: 1rem; */
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mb-base {
  margin-bottom: var(--base-size);
}
